/* src/Navbar.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00DF89;
    padding: 10px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Adjust the size as needed */
    margin-right: 10px;
}

.app-name {
    color: black;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Take up remaining space */
}

.nav-button {
    color: #EFFFCB;
    font-size: 16.13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #008451;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 34.95px;
    background-color: #28A745; /* Green background */
    color: white;
    border: none;
    border-radius: 20px; /* Rounded borders */
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .nav-button {
    color: #EFFFCB;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #008451;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 34.95px;
    padding-left: 30px;
    padding-right: 30px;

}

.navbar-right .nav-button:hover {
    background-color: #146225;
}

