/* src/components/SlideMenu.css */
.slide-menu {
    width: 250px; /* Adjust width as needed */
    background-color: #EFFFCB; /* Light background color */
    padding: 20px;
    height: 552px; /* Set a fixed height */
    position: fixed; /* Fixed position for the slide effect */
    left: 0; /* Keep it visible */
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Make sure the menu is on top */

    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack the buttons vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.menu-button {
    color: #EFFFCB;
    font-size: 16.13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #008451;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 34.95px;
    background-color: #28A745; /* Green background */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded borders */
    padding: 10px 15px;
    margin: 10px 0; /* Margin between buttons */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Smooth background change */
    width: 100%; /* Full width for buttons */
    text-align: center; /* Center text inside the buttons */
}

.menu-button:hover {
    background-color: #218838; /* Darker blue on hover */
}
